*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
 
}

.nav{
  padding: 10px;
  margin-top: 8rem;
}

.nav .title{
  font-size: 50px;
  font-style: oblique;
  display: flex;
  justify-content: center;
  align-items: center;


  
}
#title_icon{
  font-size: 50px;
  color: skyblue;
}


.add-memo {
 
 display: relative;
 padding: 70px;
 

}

/* 추가버튼 */

.add-memo1 button{
  border-radius: 20px;
  width: 70px;
  height: 70px;
  border: 1px;
  color: red;
  background-color: aliceblue;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;

  
}

.add-memo2 button{
  border-radius: 20px;
  width: 70px;
  height: 70px;
  border: 1px;
  color: pink;
  background-color: aliceblue;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

  
}




.add-memo3 button{
  border-radius: 20px;
  width: 70px;
  height: 70px;
  border: 1px;
  color: blue;
  background-color: aliceblue;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

  
}



.add-memo4 button{
  border-radius: 20px;
  width: 70px;
  height: 70px;
  border: 1px;
  color: orange;
  background-color: aliceblue;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
 

  
}




/* 버튼 hover */

.add-memo1 button:hover{
  
  background-color: rgb(236, 164, 164);
  transition: all ease 0.5s 0s;
  
  
  
}
.add-memo2 button:hover{
  background-color: rgb(241, 156, 237);
  transition: all ease 0.5s 0s;
}
.add-memo3 button:hover{
  background-color: rgb(139, 139, 238);
  transition: all ease 0.5s 0s;
}
.add-memo4 button:hover{
  background-color: rgb(243, 205, 135);
  transition: all ease 0.5s 0s;
}

.material-icons:hover{
  color: white;
  transition: all ease 0.5s 1s;
  font-size: 40px;
 

 
  
 
  
}

/* 텍스트 박스 */
.text_box1{
  width: 1px;
  height: 1px;
  border-radius: 10px;
  border: 1px red;
  display: block;
  color: aliceblue;
  font-size: 20px;
  text-shadow: 2px 3px 2px #000;
  text-align: center;
 
 

  
}
.text_box2{
  width: 1px;
  height: 1px;
  border-radius: 10px;
  border: 1px pink;
  color: aliceblue;
  font-size: 20px;
  text-shadow: 2px 3px 2px #000;
  text-align: center;
 
  
  
}
.text_box3{
  width: 1px;
  height: 1px;
  border-radius: 10px;
  border: 1px blue;
  color: aliceblue;
  font-size: 20px;
  text-shadow: 2px 3px 2px #000;
  text-align: center;
 
  
}

.text_box4{
  width: 1px;
  height: 1px;
  border-radius: 10px;
  border: 1px orange;
  color: aliceblue;
  font-size: 20px;
  text-shadow: 2px 3px 2px #000;
  text-align: center;
  
}

.simpson{
  display: flex;
  justify-content: center;
  align-items: center;
 

}

/* 쓰레기 통 */

#delete_red{
 font-size: 50px;
 width: 20px;
 height: 20px;



}