

*{
  margin: 5px;
  padding: 0;
  background-color: aliceblue;
 
}

.nav{
  padding: 10px;
  margin-top: 8rem;
}

.nav .title{
  font-size: 50px;
  font-style: oblique;
  display: flex;
  justify-content: center;
  align-items: center;


  
}
#title_icon{
  font-size: 50px;
  color: skyblue;
}



header{
  padding: 70px;
}

.plus_btn {
 
 display: flex;
 flex-direction: column;
 padding: 70px;
 float: left;
 height: 100rem;
 
 

}



/* 추가버튼 */

#plus_red{
  border-radius: 20px;
  width: 70px;
  height: 70px;
  border: 1px;
  color: red;
  background-color: aliceblue;
 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 30px;

  
}

#plus_pink{
  border-radius: 20px;
  width: 70px;
  height: 70px;
  border: 1px;
  color: pink;
  background-color: aliceblue;
 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

  
}




#plus_blue{
  border-radius: 20px;
  width: 70px;
  height: 70px;
  border: 1px;
  color: blue;
  background-color: aliceblue;
 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

  
}



#plus_orange{
  border-radius: 20px;
  width: 70px;
  height: 70px;
  border: 1px;
  color: orange;
  background-color: aliceblue;
  
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
 

  
}




/* 버튼 hover */

#plus_red:hover{
  
  background-color: rgb(236, 164, 164);
  transition: all ease 0.5s 0s;
  
  
  
}
#plus_pink:hover{
  background-color: rgb(241, 156, 237);
  transition: all ease 0.5s 0s;
}
#plus_blue:hover{
  background-color: rgb(139, 139, 238);
  transition: all ease 0.5s 0s;
}
#plus_orange:hover{
  background-color: rgb(243, 205, 135);
  transition: all ease 0.5s 0s;
}




.add_memo1 #plus_red:hover{
  color: white;
  transition: all ease 0.5s 0s;
  font-size: 40px;
 }
 .add_memo2 #plus_pink:hover{
  color: white;
  transition: all ease 0.5s 0s;
  font-size: 40px;
 }
 .add_memo3 #plus_blue:hover{
  color: white;
  transition: all ease 0.5s 0s;
  font-size: 40px;
 }
 .add_memo4 #plus_orange:hover{
  color: white;
  transition: all ease 0.5s 0s;
  font-size: 40px;
 }


/* 텍스트 박스 */

 
#text_box1{
  width: 260px;
  height: 200px;
  border-radius: 10px;
  border: 1px ;
  background-color: red;
  font-size: 20px;
  color: white;
  text-align: center;
  float: left;
  padding: 10px;
  
  
  
}

#text_box2{
  width: 260px;
  height: 200px;
  border-radius: 10px;
  background-color: pink;
  border: 1px; 
  font-size: 20px;
  color: white;
  text-align: center;
  float: left;
  padding: 10px;
  
 
  
  
}
#text_box3{
  width: 260px;
  height: 200px;
  border-radius: 10px;
  background-color:blue;
  border: 1px;
  color: white;
  font-size: 20px;
  text-align: center;
  float: left;
  padding: 10px;
  
 
  
}

#text_box4{
  width: 260px;
  height: 200px;
  border-radius: 10px;
  background-color: orange;
  border: 1px;
  color: white;
  font-size: 20px;
  text-align: center;
  float: left;
  padding: 10px;
 
  
}





/* 쓰레기 통 */

#delete_1{

  margin-left: -50px;
  margin-top: 180px;
  float: left;
  background-color: red;
  border-radius: 40px;
  border: 1px red;
  
  
  

}
#delete_2{

  margin-left: -50px;
  margin-top: 180px;
  float: left;
  background-color: pink;
  border-radius: 40px;
  border: 1px pink;
  
  
  

}
#delete_3{

  margin-left: -50px;
  margin-top: 180px;
  float: left;
  background-color: blue;
  border-radius: 40px;
  border: 1px blue;
  
  
  

}
#delete_4{

  margin-left: -50px;
  margin-top: 180px;
  float: left;
  background-color: orange;
  border-radius: 40px;
  border: 1px orange;
  
  
  

}
/* 리셋 */

#reset_1{
  margin-left: -80px;
  margin-top: 180px;
  float: left;
  background-color: red;
  border-radius: 40px;
  border: 1px red;
}
#reset_2{
  margin-left: -80px;
  margin-top: 180px;
  float: left;
  background-color: pink;
  border-radius: 40px;
  border: 1px pink;
}
#reset_3{
  margin-left: -80px;
  margin-top: 180px;
  float: left;
  background-color: blue;
  border-radius: 40px;
  border: 1px blue;
}
#reset_4{
  margin-left: -80px;
  margin-top: 180px;
  float: left;
  background-color: orange;
  border-radius: 40px;
  border: 1px orange;
}

/* 로고 */

.logo{
 margin-left: 60px;
 margin-top: -11px;
 
}
.hr1{
 width: 7rem;
  margin-left: -1px;
  

}

#chat{
  font-size: 60px;
  margin-left: 9rem;
  margin-bottom: 15px;
  border: 0px;
 
 
 
}

/* 검색 */

.srh{
  float: right;
  margin-right: 80rem;
}


/* 이름 */

.name2{
  margin-left: 1.5rem;
}